{% extends 'base.html' %}

{% block titulo %} HOME {% endblock %}

{% block conteudo %}

<div class="container mt-5">
    <h1 class="text-center">Últimos Produtos</h1>
    <div class="row mt-3">
        {% for produto in ultimos_produtos %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{ produto.foto.url }}" class="card-img-top" alt="{{ produto.foto }}" width="50px" height="200px">

                <div class="card-body">
                    <h5 class="card-title">{{ produto.nome }}</h5>
                    <p class="card-text">Preço: {{ produto.preco }}</p>
                    <p class="card-text">Quantidade: {{ produto.quantidade }}</p>
                </div>

                <a href="#" class="btn btn-success">Comprar</a>

            </div>

            <br>

        </div>
        {% endfor %}
    </div>


</div>

{% endblock %}